<h2>Further details about '{{celebrity.name}}'</h2>
<p>Occupation: {{celebrity.occupation}}</p>
<p>Catchphrase: {{celebrity.catchPhrase}}</p>

<form method='post' action='/celebrities/{{celebrity._id}}/delete'>
<button>Delete celebrity</button>
</form>
